<ng-container *ngIf="show">
  <h2 class="sr-only">{{ "filters" | i18n }}</h2>
  <ul class="filter-options">
    <li class="filter-option" [ngClass]="{ active: activeFilter.status === 'all' }">
      <span class="filter-buttons">
        <button
          type="button"
          class="filter-button"
          (click)="applyFilter('all')"
          [attr.aria-pressed]="activeFilter.status === 'all'"
        >
          <i class="fa fa-fw fa-th" aria-hidden="true"></i>&nbsp;{{ "allItems" | i18n }}
        </button>
      </span>
    </li>
    <li
      class="filter-option"
      *ngIf="!hideFavorites"
      [ngClass]="{ active: activeFilter.status === 'favorites' }"
    >
      <span class="filter-buttons">
        <button
          type="button"
          class="filter-button"
          (click)="applyFilter('favorites')"
          [attr.aria-pressed]="activeFilter.status === 'favorites'"
        >
          <i class="fa fa-fw fa-star" aria-hidden="true"></i>&nbsp;{{ "favorites" | i18n }}
        </button>
      </span>
    </li>
    <li
      class="filter-option"
      *ngIf="!hideTrash"
      [ngClass]="{ active: activeFilter.status === 'trash' }"
    >
      <span class="filter-buttons">
        <button
          type="button"
          class="filter-button"
          (click)="applyFilter('trash')"
          [attr.aria-pressed]="activeFilter.status === 'trash'"
        >
          <i class="fa fa-fw fa-trash-o" aria-hidden="true"></i>&nbsp;{{ "trash" | i18n }}
        </button>
      </span>
    </li>
  </ul>
</ng-container>
