[submodule "apps/browser/jslib"]
	path = apps/browser/jslib
	url = https://gitlab.hitachi-id.com/product/bravura-safe/jslib.git
	branch = develop

[submodule "apps/desktop/jslib"]
	path = apps/desktop/jslib
	url = https://gitlab.hitachi-id.com/product/bravura-safe/jslib.git
	branch = develop

[submodule "apps/cli/jslib"]
	path = apps/cli/jslib
	url = https://gitlab.hitachi-id.com/product/bravura-safe/jslib.git
	branch = develop

[submodule "apps/web/jslib"]
	path = apps/web/jslib
	url = https://gitlab.hitachi-id.com/product/bravura-safe/jslib.git
	branch = develop
