<app-navbar></app-navbar>
<div class="org-nav !tw-h-32" *ngIf="organization$ | async as organization">
  <div class="container d-flex">
    <div class="d-flex flex-column">
      <app-organization-switcher
        class="my-auto pl-1"
        [activeOrganization]="organization"
      ></app-organization-switcher>
      <bit-tab-nav-bar class="-tw-mb-px">
        <bit-tab-link route="vault" iconClass="fa fa-lock">
          {{ "vault" | i18n }}
        </bit-tab-link>
        <bit-tab-link *ngIf="canShowManageTab(organization)" route="manage" iconClass="fa fa-sliders">
          {{ "manage" | i18n }}
        </bit-tab-link>
        <bit-tab-link *ngIf="canShowReportsTab(organization)" route="reporting" iconClass="fa fa-file">
          {{ getReportTabLabel(organization) | i18n }}
        </bit-tab-link>
        <bit-tab-link *ngIf="canShowSettingsTab(organization)" route="settings" iconClass="fa fa-cogs">
          {{ "settings" | i18n }}
        </bit-tab-link>
        <bit-tab-link route="options" iconClass="fa fa-bars">
          {{ "options" | i18n }}
        </bit-tab-link>
      </bit-tab-nav-bar>
    </div>
  </div>
</div>
<router-outlet></router-outlet>
