<div class="modal fade" role="dialog" aria-modal="true" aria-labelledby="2faHyprTitle">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h2 class="modal-title" title="2faHyprTitle">
          {{ "twoStepLogin" | i18n }}
          <small>Bravura OneAuth</small>
        </h2>
        <button
          type="button"
          class="close"
          data-dismiss="modal"
          appA11yTitle="{{ 'close' | i18n }}"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <app-two-factor-verify
        [organizationId]="organizationId"
        [type]="type"
        (onAuthed)="auth($any($event))"
        *ngIf="!authed"
      >
      </app-two-factor-verify>
      <form
        #form
        (ngSubmit)="submit()"
        [appApiAction]="formPromise"
        ngNativeValidate
        *ngIf="authed"
        autocomplete="off"
      >
        <div class="modal-body">
          <ng-container *ngIf="enabled">
            <app-callout type="success" title="{{ 'enabled' | i18n }}" icon="fa-check-circle">
              {{ "twoStepLoginProviderEnabled" | i18n }}
            </app-callout>
            <img class="float-right ml-3 mfaType99" alt="Bravura OneAuth logo" />
            <strong>{{ "twoFactorHyprApiToken" | i18n }}:</strong> {{ akey }}
            <br />
            <strong>{{ "twoFactorHyprAppId" | i18n }}:</strong> {{ appId }}
            <br />
            <strong>{{ "twoFactorHyprServerUrl" | i18n }}:</strong> {{ serverUrl }}
            <br />
            <strong>{{ "twoFactorHyprLinkDuration" | i18n }}:</strong> {{ hyprMagicLinkDuration }}
          </ng-container>
          <ng-container *ngIf="!enabled">
            <img class="float-right ml-3 mfaType99" alt="Bravura OneAuth logo" />
            <p>{{ "twoFactorHyprDesc" | i18n }}</p>
            <div class="form-group">
              <label for="akey">{{ "twoFactorHyprApiToken" | i18n }}</label>
              <input
                id="akey"
                type="text"
                name="API Token"
                class="form-control"
                [(ngModel)]="akey"
                placeholder="{{ 'ex' | i18n }} hypap-xxxxxxxx-xxxx-xxxx-xxxx-xxxxxxxxxxxx"
                required
                appInputVerbatim
              />
            </div>
            <div class="form-group">
              <label for="appID">{{ "twoFactorHyprAppId" | i18n }}</label>
              <input
                id="appID"
                type="text"
                name="AppID"
                class="form-control"
                [(ngModel)]="appId"
                required
                appInputVerbatim
              />
            </div>
            <div class="form-group">
              <label for="serverURL">{{ "twoFactorHyprServerUrl" | i18n }}</label>
              <input
                id="serverURL"
                type="text"
                name="Server Name"
                class="form-control"
                [(ngModel)]="serverUrl"
                placeholder="{{ 'ex' | i18n }} xxxxxxxx.hypr.com"
                required
                appInputVerbatim
              />
            </div>
            <div class="form-group">
              <label for="hyprMagicLinkDuration">{{ "twoFactorHyprLinkDuration" | i18n }}</label>
              <input
                id="hyprMagicLinkDuration"
                type="number"
                name="Bravura OneAuth Registration Link Duration"
                class="form-control"
                [(ngModel)]="hyprMagicLinkDuration"
                placeholder="{{ 'ex' | i18n }} 3600"
                value="3600"
                appInputVerbatim
              />
            </div>
          </ng-container>
        </div>
        <div class="modal-footer">
          <button type="submit" class="btn btn-primary btn-submit" [disabled]="form.loading">
            <i
              class="fa fa-spinner fa-spin"
              title="{{ 'loading' | i18n }}"
              aria-hidden="true"
            ></i>
            <span *ngIf="!enabled">{{ "enable" | i18n }}</span>
            <span *ngIf="enabled">{{ "disable" | i18n }}</span>
          </button>
          <button type="button" class="btn btn-outline-secondary" data-dismiss="modal">
            {{ "close" | i18n }}
          </button>
        </div>
      </form>
    </div>
  </div>
</div>
