<div class="container page-content">
  <div class="row">
    <div class="col-3 sidebar-panel d-flex flex-column">
      <div class="dropdown organizations flex-grow-0 flex-shrink-0 org-dropdown-container">
        <button
          class="btn btn-outline-secondary dropdown-toggle"
          type="button"
          id="dropdownMenuButton"
          data-toggle="dropdown"
          aria-haspopup="true"
          aria-expanded="false"
          appA11yTitle="{{ 'organizations' | i18n }}"
        >
          <i class="fa fa-cog fa-lg" aria-hidden="true"></i>
          {{ "organizations" | i18n }}
        </button>
        <div
          class="dropdown-menu dropdown-menu-right scrollable-menu"
          aria-labelledby="dropdownMenuButton"
        >
          <app-organization-list [organizations]="allOrganizations"></app-organization-list>
        </div>
      </div>
      <app-vault-filter
        #vaultFilter
        [activeFilter]="activeFilter"
        [searchText]="currentSearchText$ | async"
        (searchTextChanged)="filterSearchText($event)"
        (onEditFolder)="editFolder($event)"
      ></app-vault-filter>
    </div>
    <div [ngClass]="{ 'col-6': isShowingCards, 'col-9': !isShowingCards }">
      <app-vault-header
        [filter]="filter"
        [loading]="refreshing && !performingInitialLoad"
        [organizations]="allOrganizations"
        [canCreateCollections]="canCreateCollections"
        [collection]="selectedCollection"
        (onAddCipher)="addCipher()"
        (onAddCollection)="addCollection()"
        (onAddFolder)="addFolder()"
      ></app-vault-header>
      <app-callout type="warning" *ngIf="activeFilter.isDeleted" icon="fa-exclamation-triangle">
        {{ trashCleanupWarning }}
      </app-callout>
      <app-vault-items
        [ciphers]="ciphers"
        [collections]="collections"
        [allCollections]="allCollections"
        [allOrganizations]="allOrganizations"
        [disabled]="refreshing"
        [showOwner]="true"
        [showCollections]="false"
        [showGroups]="false"
        [showPremiumFeatures]="canAccessPremium"
        [showBulkMove]="showBulkMove"
        [showBulkTrashOptions]="filter.type === 'trash'"
        [useEvents]="false"
        [editableCollections]="false"
        [cloneableOrganizationCiphers]="false"
        (onEvent)="onVaultItemsEvent($event)"
        [showHeaderCheckboxMenu]="filter.collectionId !== 'all'"
      >
      </app-vault-items>
      <div
        *ngIf="performingInitialLoad"
        class="tw-mt-6 tw-flex tw-h-full tw-flex-col tw-items-center tw-justify-start"
      >
        <i
          class="fa fa-spinner fa-spin text-muted"
          title="{{ 'loading' | i18n }}"
          aria-hidden="true"
        ></i>
        <span class="sr-only">{{ "loading" | i18n }}</span>
      </div>
      <div
        *ngIf="isEmpty && !performingInitialLoad"
        class="tw-mt-6 tw-flex tw-h-full tw-flex-col tw-items-center tw-justify-start"
      >
        <bit-icon [icon]="noItemIcon" aria-hidden="true"></bit-icon>
        <p>{{ "noItemsInList" | i18n }}</p>
        <button
          type="button"
          buttonType="primary"
          bitButton
          (click)="addCipher()"
          *ngIf="filter.type !== 'trash'"
        >
          <i class="fa fa-plus fa-fw" aria-hidden="true"></i>
          {{ "newItem" | i18n }}
        </button>
      </div>
      <div class="vertical-spacer"></div>
      <app-footer></app-footer>
    </div>
    <div class="col-3">
      <div class="card border-warning mb-4" *ngIf="showUpdateKey">
        <div class="card-header bg-warning text-white">
          <i class="fa fa-exclamation-triangle fa-fw" aria-hidden="true"></i>
          {{ "updateKeyTitle" | i18n }}
        </div>
      </div>
    </div>
  </div>
</div>

<ng-template #attachments></ng-template>
<ng-template #folderAddEdit></ng-template>
<ng-template #cipherAddEdit></ng-template>
<ng-template #share></ng-template>
<ng-template #collectionsModal></ng-template>
<ng-template #updateKeyTemplate></ng-template>
