<ng-container *ngIf="show">
  <div class="filter-heading"
    [ngClass]="{
      'expandedGrouping': !isCollapsed(collectionsGrouping)
    }"
  >
    <button
      (click)="toggleCollapse(collectionsGrouping)"
      [attr.aria-expanded]="!isCollapsed(collectionsGrouping)"
      aria-controls="collection-filters"
      title="{{ 'toggleCollapse' | i18n }}"
      class="toggle-button text-muted"
    >
      <i
        class="fa fa-fw mr-0"
        [ngClass]="{
          'fa-caret-right': isCollapsed(collectionsGrouping),
          'fa-caret-down': !isCollapsed(collectionsGrouping)
        }"
        aria-hidden="true"
      ></i>
    </button>
    <h3 class="filter-title">&nbsp;{{ collectionsGrouping.name | i18n }}</h3>
  </div>
  <ul id="collection-filters" *ngIf="!isCollapsed(collectionsGrouping)" class="filter-options">
    <ng-template #recursiveCollections let-collections>
      <li
        *ngFor="let c of collections"
        [ngClass]="{
          active: c.node.id === activeFilter.selectedCollectionId,
          expand: c.children.length && !isCollapsed(c.node)
        }"
        class="filter-option"
      >
        <span class="filter-buttons">
        <i class="text-muted invisible"></i>
          <button
            class="toggle-button text-muted"
            *ngIf="c.children.length"
            (click)="toggleCollapse(c.node)"
            title="{{ 'toggleCollapse' | i18n }}"
            [attr.aria-expanded]="!isCollapsed(c.node)"
            [attr.aria-controls]="c.node.name + '_children'"
          >
            <i
              class="fa fa-fw"
              [ngClass]="{
                'fa-caret-right': isCollapsed(c.node),
                'fa-caret-down': !isCollapsed(c.node)
              }"
              aria-hidden="true"
            ></i>
          </button>
          <button class="filter-button" (click)="applyFilter(c.node)">
            <i
              *ngIf="c.children.length === 0"
              class="fa fa-cube text-muted"
              aria-hidden="true"
            ></i>
          </button>
          <button class="filter-button" (click)="applyFilter(c.node)" style="text-align: left; width: 167px;">
            {{ c.node.name }}
          </button>
        </span>
        <ul
          [id]="c.node.name + '_children'"
          class="nested-filter-options"
          *ngIf="c.children.length && !isCollapsed(c.node)"
        >
          <ng-container
            *ngTemplateOutlet="recursiveCollections; context: { $implicit: c.children }"
          >
          </ng-container>
        </ul>
      </li>
    </ng-template>
    <ng-container
      *ngTemplateOutlet="recursiveCollections; context: { $implicit: nestedCollections }"
    >
    </ng-container>
  </ul>
</ng-container>
